<div class="row bgGray">
  <div class="screenNav">
    <h1>Calendar</h1>
    <ul class="daylink">
      <li>Day</li>
      <li>week</li>
      <li>Month</li>
    </ul>
    <h3>Today</h3>
    <ul class="linkarrow">
      <li class="bdl">
        <i class="fas fa-angle-left" style="color: white"></i>
      </li>
      <li><i class="fas fa-angle-right" style="color: white"></i></li>
    </ul>
    <h4>February</h4>

    <ul class="rightrow">
      <li>
        <a href="#"> <i class="fa fa-gear"></i> settings </a>
      </li>
      <li>
        <a href="#"> <i class="far fa-question-circle"></i> help </a>
      </li>
    </ul>
  </div>
  <div class="mobNav">
    <button class="hamburger" id="hamburger">
      <i style="color: #fff; border: none" class="fa">&#xf0c9;</i>
    </button>
    <input type="search" class="searchBar" />
    <i class="fa fa-search ls"></i>
    <span class="dateborder ls">14</span>
  </div>
</div>
