.bdl {
  border-right: 1px solid #000;
}

h4 {
  margin-left: 0.5em;
  color: #fff;
  text-transform: uppercase;
  line-height: 2.5em;
  font-size: 1rem;
}

.w3-button {
  margin:0 0 10px 0;
  position: relative;
  font-size: .9rem;
  width:90%;
}

.ls {
  margin-left: 1em;
}
.absPos {
  position: absolute;
  right: 1.2em;
  top: 0.8em;
}

.tl {
  text-align: left;

}

ul.w3-button li{
    padding-left: 0;
}

.rightCol{
list-style: none;

}

.rightCol h5{
    text-align: center;
}

.mb{
    margin-bottom: 50%;
}

.smfont{font-size: .9rem;}
.rsm{margin-right: .5em;}


