.bdl {
  border-right: 1px solid #000;
}

h4 {
  margin-left: 0.5em;
  color: #fff;
  text-transform: uppercase;
  line-height: 2.5em;
  font-size: 1rem;
}


.w3-button {
  margin:0 0 10px 0;
  position: relative;
  font-size: .9rem;
  width:90%;
}

.ls {
  margin-left: 1em;
}
.absPos {
  position: absolute;
  right: 1.2em;
  top: 0.8em;
}

.tl {
  text-align: left;

}

ul.w3-button li{
    padding-left: 0;
}

.rightCol{
list-style: none;

}

.rightCol h5{
    text-align: center;
}

.mb{
    margin-bottom: 50%;
}

.smfont{font-size: .9rem;}
.rsm{margin-right: .5em;}

.delbg{background:url(../assets/bcolor.png) no-repeat 0% 50%; padding-left: 2.2rem;}
.nodelbg {
  background: url(../assets/rcolor.png) no-repeat 0% 50%;
  padding-left: 2.2rem;
}
.upcmng {
  background: url(../assets/grcolor.png) no-repeat 0% 50%;
  padding-left: 2.2rem;
}

.chngrq{
  background: url(../assets/gcolor.png) no-repeat 0% 50%;
    padding-left: 2.2rem;
}
@media (max-width: 768px) {
  
#calendar.bCal li{background-color: transparent; border: none;}
  .BigCalendar #calendar li a {
      font-size:.8rem;
      background-color:transparent;
      
  
    }

        #calendar li a span {
         font-size: .45rem;
    
        }
a.gcolor{line-height:0;}
ul.smfont li{padding-right: 1rem;}
/*span.grcolor,span.bcolor,span.gcolor*/
.bCal li a span{
  font-size: .5rem;
}
.bCal li a.colorgr {
  background: url(../assets/grcolor.png) no-repeat 50% 60%;
}
.bCal li a.colorgr span{font-size: .5rem;}
.bCal li a.colorb {
  background: url(../assets/bcolor.png) no-repeat 50% 60%;
}
.bCal li a.colorr {
  background: url(../assets/rcolor.png) no-repeat 50% 60%;
}
.bCal li a.colorg {
  background: url(../assets/gcolor.png) no-repeat 50% 60%;
}
}