/* You can add global styles to this file, and also import other style files */
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

*:active{outline:none;}
ul {list-style: none;}
ul:hover{background-color: none;}
.mobNav {
  visibility: visible;
  height: 2em;
  display: flex;
}

.screenNav {
  display: none;
}




.bgGray {
  background-color: #292424;
}
.container-fluid {
  width: 100%;
}

#calendar {
  width: 100%;
  margin: 2em 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font:.7em sans-serif;
  position: relative;
 
}

#calendar li {
  width: 13.97%;
  height:3.5em;
  float: left;
  display: block;
  margin: 0;  
}

#calendar.bCal li{background-color: #292424;
  border: 1px solid #292424;
 
}

#calendar li.day {
  text-align: center;
  line-height: 4;
  font-weight: bold;
  font-variant: small-caps;
}

#calendar li a {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  line-height: 4rem; 
  text-align: center;
  text-decoration: none;  
  background-color: #000; 
  position: relative;
  font-size: 1rem;
 
}

#calendar li a.cal{border: 1px solid #107085; }


#calendar li a span {
  position: absolute;
  bottom:-1em;
  left:35%;   
  font-size: .7rem;
  
}
h3 {
  font-size: 1rem; 
  line-height: .9rem;
  margin: 0 1.5em;
  padding: 0;
  font-weight: normal;
}
.flexdiv {
  display: flex;
  justify-content: space-around ;
  padding-right: 13px;

  
}


.w3-btn {
    width:350px;
}

.font0 {
  display: none;
}

@media(max-width: 768px){
  .font0 {
      display: none;
    }
 .flexdiv.mobD h3{
    text-transform: uppercase;
  }
  .flexdiv.mobD{
    justify-content: center;

  }
  #calendar {margin:0;}
  .col-2 ul#calendar{display: none;}
  .rightCol h5{display: none;}
  ul.smfont{display: flex;}
  ul.smfont li{font-size: .8em; margin-left: .1em;}
  
}
@media (min-width: 768px) {
  .mobNav{
    visibility: hidden;
  }
ul.pos {
  position: absolute;
  left: -2%;
  top: 55%;
  width: 20%;
}
  .screenNav{
   visibility: visible;
   display: flex;
  }
        .font0 {
          display: inline;
        }
  .row {
    display: flex;
    position: relative;
  }
  
  .col1{display: flex; width: 50%;}

  .col-2 {
    width: 20%;
    padding-right: 1%;
  }

  .col-6 {
    width: 55%;
    margin: 0 15px;
  }
  
}

h1 {
  color: #fdfdfd;
}

hr {
  border-top: 1px solid #0b0a0a;
}



.BigCalendar #calendar {
    font-size: 1.5rem;
    
}
.BigCalendar #calendar ul li a{
    background-color: #000;
}


.gcolor{color:#a3a8a9;}
.grcolor {
  color: #10fd45;
}
.bcolor{color:#107085;}